body{
    margin: 0px;
}
.menu{
    height: 100px;
    width: 100%;
    background-color: rgb(252, 84, 23);
    color: rgb(255, 212, 132);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    justify-items: center;

}

