body{
    margin: 0px;

}
.menu {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    padding: 10px;

}

.menu img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.menu p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.campo-pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.campo-pesquisa-input{
    height: 60px;
    width: 40px;
    border-radius: 50px ;
    font-size: 20px;
    padding-left: 30px;


}